<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/profile.css" />
        <link rel="stylesheet" href="/css/styleguide.css" />
    </head>
    <body>
        <div class="main-bar"><img class="logo" src="/img/logo.png"></img></div>
        <div class="frame">
            <div class="profile-picture"></div>
            <div class="view">
                <div class="head">
                    <div class="head-text">내프로필</div>
                </div>
                <div class="profile-frame">
                    <label class="profile-label">이름:</label>
                    <input class="profile-input" name="nameKor" disabled th:value="${nameKor}">
                </div>
                <div class="profile-frame">
                    <label class="profile-label">영어 이름:</label>
                    <input class="profile-input" name="nameEng" disabled th:value="${nameEng}">
                </div>
                <div class="profile-frame">
                    <label class="profile-label">닉네임:</label>
                    <input class="profile-input" name="nickname" disabled th:value="${nickname}">
                </div>
                <div class="profile-frame">
                    <label class="profile-label">이메일:</label>
                    <input class="profile-input" name="email" id="emailBox" disabled th:value="${email}">
                </div>
                <div class="profile-frame">
                    <label class="profile-label">전화번호:</label>
                    <input class="profile-input" name="phoneNumber" disabled th:value="${phoneNumber}">
                    <input class="profile-input" name="nameKor" disabled>
                </div>
            </div>
        </div>

        <div class="main-container">
            <div class="portfolio">
                <div class="head">
                    <div class="head-text">이력서</div>
                </div>
                <div class="portfolio-frame">
                    <div th:if="${resume} != null" class="portfolio-fame" id="resumeBox">
                        <label  class="portfolio-text-1" name="desiredPosition" th:text="${resume.desiredPosition}"></label>
                        <label class="portfolio-text-2"  th:text="|created at : ${#temporals.format(resume.createdAt, 'yyyy-MM-dd')}|"></label>
                        <label class="portfolio-text-2" th:text="|last update : ${#temporals.format(resume.updatedAt, 'yyyy-MM-dd')}|"></label>
                        <button class="fix-button" id="resumeUpdateButton">수정</button>
                        <button class="delete-button" id="resumeDeleteButton">삭제</button>
                    </div>
                    <button th:if="${resume} == null" class="plus-button" id="resumeAddButton" style="border:none;">
                        <img class="portfolio-button" src="/img/portfolio-plus.png" href="input.html" alt="Add Portfolio">
                    </button>
                </div>
            </div>
            
            <div class="portfolio">
                <div class="head"><div class="head-text">프로젝트</div></div>
                <div class="portfolio-frame"> 
                    <div class="portfolio-fame" >
                    </div>
                </div>                    
                <button class="project-plus-button" >
                    <div class="project-button">프로젝트 추가</div>
                </button>
            </div>
        </div>
    </body>
    <script src="/js/profile.js"></script>
</html>
