<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaft.org">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/globals.css" />
  <link rel="stylesheet" href="/css/styleguide.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <div  class="potopolio-input-page">
    <div class="background">
      <div class="container-13">
        <div class="logo-jobkorea-png-wrapper">
          <div class="logo-jobkorea-png"></div>
        </div>
        <div class="link-3">
          <div class="text-wrapper-24">개인회원 홈</div>
        </div>
        <div class="link-4">
          <div class="vertical-divider"></div>
          <div class="text-wrapper-24">이력서 관리</div>
        </div>
      </div>
    </div>
    <div class="div">
      <div class="form">
        
        <div class="personal" name="personal">
          <div class="heading">
            <div class="heading-2">인적사항</div>
          </div>
          <div class="background-border">
            <div class="background-border-3">
              <p class="div-3"><span class="text-wrapper-4">희망 직무</span> </p>
              <input class="text_area_1" name="desiredPosition" placeholder="software enginear" th:value="${desiredPosition}"></input>
            </div>
            <div class="border">
              <div class="image-container"></div>
              <button id="addImageBtn" class="add-image-btn">사진추가</button>
              <input class="image" type="file" id="imageInput" accept="image/*" style="display: none;" />
            </div>

          </div>
        </div>
        <div class="maincontainer" name="educations">
          <div class="heading">
            <div class="heading-2">학력</div>
            <div class="container-9">
              <div class="label-12">
                <div class="text-wrapper-18">고등학교 미만 졸업</div>
                <input class="check" type="checkbox"  name="educations[0].type">
              </div>
            </div>
          </div>
  
          <div class="mainframe">
              <!-- 복사 대상이 될 투명한 항목 요소 -->
            <div class="subframe" style="display:none;">
              <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
            
              <!-- Institution Name -->
              <div class="e_frame">
                <p class="div-3"><span class="text-wrapper-4">대학교</span></p>
                <input class="text_area" name="educations[0].institution_name" placeholder="동의대학교" required>
              </div>
            
              <!-- Department -->
              <div class="e_frame">
                <p class="div-3"><span class="text-wrapper-4">학과</span></p>
                <input class="text_area" name="educations[0].department" placeholder="컴퓨터공학과" required>
              </div>
            
              <!-- Degree -->
              <div class="e_frame">
                <p class="div-3"><span class="text-wrapper-4">학위</span></p>
                <input class="text_area" name="educations[0].degree" placeholder="학사">
              </div>
            
              <!-- GPA -->
              <div class="e_frame_gpa">
                <p class="div-3"><span class="text-wrapper-4">GPA</span></p>
                <input class="text_area" name="educations[0].gpa" placeholder="4.49">
              </div>
            
              <!-- Max GPA -->
              <div class="e_frame_gpa">
                <p class="div-3"><span class="text-wrapper-4">최대 GPA</span></p>
                <input class="text_area" name="educations[0].max_gpa" placeholder="4.5">
              </div>
            
              <!-- From Date -->
              <div class="e_frame">
                <p class="div-3"><span class="text-wrapper-4">시작 날짜</span></p>
                <input class="text_area" type="date" name="educations[0].from_Date" required>
              </div>
            
              <!-- To Date -->
              <div class="e_frame">
                <p class="div-3"><span class="text-wrapper-4">종료 날짜</span></p>
                <input class="text_area" type="date" name="educations[0].to_date" required>
              </div>
            
              <!-- To Now (Current Enrollment) -->
              <div class="e_frame">
                <span class="e_checklist">현재 재학 중</span>
                <input class="e_check" type="checkbox"  name="educations[0].to_now" >
              </div>
            </div>

              <!-- 서버로 부터 전달된 기존 항목 요소 -->
              <div class="subframe" th:each="education,iterStat : ${educations}">

                  <input class="text_area" th:name="|education[${iterStat.index + 1}].id|" style="display:none;" th:value="${education.id}"/>

                  <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
                  <!-- Institution Name -->
                  <div class="e_frame">
                      <p class="div-3"><span class="text-wrapper-4">대학교</span></p>
                      <input class="text_area" th:name="|education[${iterStat.index + 1}].institution_name|" th:value="${education.institutionName}" required>
                  </div>

                  <!-- Department -->
                  <div class="e_frame">
                      <p class="div-3"><span class="text-wrapper-4">학과</span></p>
                      <input class="text_area" th:name="|education[${iterStat.index + 1}].department|" th:value="${education.major}" required>
                  </div>

                  <!-- Degree -->
                  <div class="e_frame">
                      <p class="div-3"><span class="text-wrapper-4">학위</span></p>
                      <input class="text_area" th:name="|education[${iterStat.index + 1}].degree|" th:value="${education.degree}">
                  </div>

                  <!-- GPA -->
                  <div class="e_frame_gpa">
                      <p class="div-3"><span class="text-wrapper-4">GPA</span></p>
                      <input class="text_area" th:name="|education[${iterStat.index + 1}].gpa|" th:value="${education.gpa}">
                  </div>

                  <!-- Max GPA -->
                  <div class="e_frame_gpa">
                      <p class="div-3"><span class="text-wrapper-4">최대 GPA</span></p>
                      <input class="text_area" th:name="|education[${iterStat.index + 1}].max_gpa|" th:value="${education.maxGpa}">
                  </div>

                  <!-- From Date -->
                  <div class="e_frame">
                      <p class="div-3"><span class="text-wrapper-4">시작 날짜</span></p>
                      <input class="text_area" type="date" th:name="|education[${iterStat.index + 1}].from_Date|" th:value="${#temporals.format(education.fromDate, 'yyyy-MM-dd')}">
                  </div>

                  <!-- To Date -->
                  <div class="e_frame">
                      <p class="div-3"><span class="text-wrapper-4">종료 날짜</span></p>
                      <input class="text_area" type="date" th:name="|education[${iterStat.index + 1}].to_date|" th:value="${#temporals.format(education.toDate, 'yyyy-MM-dd')}">
                  </div>

                  <!-- To Now (Current Enrollment) -->
                  <div class="e_frame">
                      <span class="e_checklist">현재 재학 중</span>
                      <input th:if="${education.toNow}" class="e_check" type="checkbox"  th:name="|education[${iterStat.index + 1}].to_now|" checked>
                      <input th:unless="${education.toNow}" class="e_check" type="checkbox"  th:name="|education[${iterStat.index + 1}].to_now|" checked>
                  </div>
              </div>
          </div>

          <button class="plusbutton" type="button" data-section="educations">
            <img class="image-6" src="/img/image-26.png" />
            <div class="text-wrapper-7">추가</div>
          </button>
        </div>
        <div class="maincontainer" name="licenses">
          <div class="heading">
            <div class="heading-2">자격증</div>
          </div>
          <div class="mainframe">
              <!-- 복사 대상이 될 투명한 항목 요소 -->
            <div class="subframe" style="display:none;">
              <div class="l_frame_1">
                  <p class="div-3"><span class="text-wrapper-4">자격증 명</span></p>
                  <input class="text_area" name="licenses[0].name" placeholder="정보처리기사">
              </div>
              <div class="l_frame_2">
                <p class="div-3"><span class="text-wrapper-4">발행처</span></p>
                  <input class="text_area" name="licenses[0].organization_name" placeholder="국립국어원">
              </div>
              <div class="date">
                <p class="div-3"><span class="text-wrapper-4">취득일</span></p>
                <input class="text_area" name="licenses[0].issued_data" placeholder="2024/20/10" type="date">
              </div>
              <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
                <!-- 서버로 부터 전달된 기존 항목 요소 -->
            </div>
              <div class="subframe" th:each="license,iterStat : ${licenses}">
                  <input th:name="|license[${iterStat.count}].id|" style="display:none" th:value="${license.id}"/>
                  <div class="l_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">자격증 명</span></p>
                      <input class="text_area" th:name="|license[${iterStat.count}].name|" th:value="${license.licenseName}">
                  </div>
                  <div class="l_frame_2">
                      <p class="div-3"><span class="text-wrapper-4">발행처</span></p>
                      <input class="text_area" th:name="|licenses[${iterStat.count}].organization_name|" th:value="${license.organizationName}">
                  </div>
                  <div class="date">
                      <p class="div-3"><span class="text-wrapper-4">취득일</span></p>
                      <input class="text_area" th:name="|licenses[${iterStat.count}].issued_data|" th:value="${#temporals.format(license.issuedAt, 'yyyy-MM-dd')}" type="date">
                  </div>
                  <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
              </div>
          </div>
  <button class="plusbutton" data-section="licenses">
    <img class="image-6" src="/img/image-26.png" />
    <div class="text-wrapper-7">추가</div>
  </button>
        </div>
        <div class="maincontainer" name="awards">
          <div class="heading">
            <div class="heading-2">수상</div>
          </div>
          <div class="mainframe">
            <div class="subframe" style="display:none;">
              <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
              <div class="r_frame">
                <p class="div-3"><span class="text-wrapper-4">수상명</span></p>
                <input class="text_area" name="awards[0].award_name" placeholder="지역상">
              </div>
              <div class="r_frame">
                <p class="div-3"><span class="text-wrapper-4">대회명</span></p>
                <input class="text_area" name="awards[0].competition_name" placeholder="전국 컴퓨터 경진대회">
              </div>
              <div class="r_frame">
                <p class="div-3"><span class="text-wrapper-4">수여기관</span></p>
                <input class="text_area" name="awards[0].organization_name" placeholder="동의대학교">
              </div>
              <div class="date">
                <p class="div-3"><span class="text-wrapper-4">수상일</span></p>
                <input class="text_area" name="awards[0].award_date" placeholder="2024-04-04" type="date">
              </div>
            </div>
              <div class="subframe" th:each="award, iterStat : ${awards}">
                  <input th:name="|awards[${iterStat.count}}].id|" style="display:none;" th:value="award.id"/>
                  <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
                  <div class="r_frame">
                      <p class="div-3"><span class="text-wrapper-4">수상명</span></p>
                      <input class="text_area" th:name="|awards[${iterStat.count}].award_name|" th:value="${award.awardName}">
                  </div>
                  <div class="r_frame">
                      <p class="div-3"><span class="text-wrapper-4">대회명</span></p>
                      <input class="text_area" th:name="|awards[${iterStat.count}].competition_name|" th:value="${award.competitionName}">
                  </div>
                  <div class="r_frame">
                      <p class="div-3"><span class="text-wrapper-4">수여기관</span></p>
                      <input class="text_area" th:name="|awards[${iterStat.count}].organization_name|" th:value="${award.organizationName}">
                  </div>
                  <div class="date">
                      <p class="div-3"><span class="text-wrapper-4">수상일</span></p>
                      <input class="text_area" th:name="|awards[${iterStat.count}].award_date|" th:value="${#temporals.format(award.awardedDate,'yyyy-MM-dd')}" type="date">
                  </div>
              </div>
          </div>
          <button class="plusbutton" data-section="awards">
            <img class="image-6" src="/img/image-26.png" />
            <div class="text-wrapper-7">추가</div>
          </button>
        </div>
        
        <div class="maincontainer" name="eduExps">
          <div class="heading">
            <div class="heading-2">교육이수</div>
          </div>
          <div class="mainframe">
            <div class="subframe" style="display:none;">
              <div class="image-wrapper">
                  <img class="image-5" src="/img/image-27.png" />
              </div>
              <div class="x_frame">
                  <p class="div-3"><span class="text-wrapper-4">교육명</span></p>
                  <input class="text_area" name="eduExps[0].education_name" placeholder="지역 발전 사회화 교육">
              </div>
              <div class="x_frame_1">
                  <p class="div-3"><span class="text-wrapper-4">교육기관</span></p>
                  <input class="text_area" name="eduExps[0].organization_name" placeholder="부산시">
              </div>
              <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">시작년월</span></p>
                      <input class="text_area" name="eduExps[0].from_date" placeholder="2024/6" type="month">
                  
              </div>
              <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">종료년월</span></p>
                      <input class="text_area" name="eduExps[0].to_date" placeholder="2024/8" type="month">
              </div>
              <div class="e_frame">
                <span class="e_checklist">현재 진행 중</span>
                <input class="e_check" type="checkbox"  name="eduExps[0].to_now" value="1">
              </div>
          </div>
              <div class="subframe" th:each="eduExp, iterStat : ${educationalExp}">
                  <input th:name="|eduExps[${iterStat.count}].id|" style="display:none;" th:value="${eduExp.id}"/>
                  <div class="image-wrapper">
                      <img class="image-5" src="/img/image-27.png" />
                  </div>
                  <div class="x_frame">
                      <p class="div-3"><span class="text-wrapper-4">교육명</span></p>
                      <input class="text_area" th:name="|eduExps[${iterStat.count}].education_name|" th:value="${eduExp.educationName}">
                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">교육기관</span></p>
                      <input class="text_area" th:name="|eduExps[${iterStat.count}].organization_name|" th:value="${eduExp.organizationName}">
                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">시작일</span></p>
                      <input class="text_area" th:name="|eduExps[${iterStat.count}].from_date|" th:value="${#temporals.format(eduExp.fromDate, 'yyyy-MM-dd')}" type="date">

                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">종료일</span></p>
                      <input class="text_area" th:name="|eduExps[${iterStat.count}].to_date|" th:value="${#temporals.format(eduExp.toDate, 'yyyy-MM-dd')}" type="date">
                  </div>
                  <div class="e_frame">
                      <span class="e_checklist">현재 진행 중</span>
                      <input th:if="${eduExp.toNow}" class="e_check" type="checkbox"  th:name="|eduExps[${eduExp.toNow}].to_now|" checked>
                      <input th:unless="${eduExp.toNow}" class="e_check" type="checkbox"  th:name="|eduExps[${eduExp.toNow}].to_now|" checked>
                  </div>
              </div>

          </div>
          <button class="plusbutton" data-section="eduExps">
            <img class="image-6" src="/img/image-26.png" />
            <div class="text-wrapper-7">추가</div>
          </button>
        </div>     

        <div class="maincontainer" name="academicActivities">
          <div class="heading">
            <div class="heading-2">학술활동</div>
          </div>
          <div class="mainframe">
            <div class="subframe" style="display:none;">
              <div class="image-wrapper">
                  <img class="image-5" src="/img/image-27.png" />
              </div>
              <div class="x_frame">
                  <p class="div-3"><span class="text-wrapper-4">제목</span></p>
                  <input class="text_area" name="academicActivities[0].education_name" placeholder="지역 발전 사회화 논문">
              </div>
              <div class="x_frame_1">
                  <p class="div-3"><span class="text-wrapper-4">학술기관</span></p>
                  <input class="text_area" name="academicActivities[0].academic_institution" placeholder="부산시">
              </div>
              <div class="x_frame_1">
                <p class="div-3"><span class="text-wrapper-4">컨퍼런스 이름</span></p>
                <input class="text_area" name="academicActivities[0].conferenace_name" placeholder="컨퍼런스">
            </div>
              <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">제출일</span></p>
                      <input class="text_area" name="academicActivities[0].activity_date" placeholder="2024/8/1" type="month">
              </div>
          </div>
              <div class="subframe" th:each="acaAct, iterStat : ${academicActivities}">
                  <input th:name="|academicActivities[${iterStat.count}].id|" style="display:none;" th:value="${acaAct.id}"/>
                  <div class="image-wrapper">
                      <img class="image-5" src="/img/image-27.png" />
                  </div>
                  <div class="x_frame">
                      <p class="div-3"><span class="text-wrapper-4">제목</span></p>
                      <input class="text_area" th:name="|academicActivities[${iterStat.count}].education_name|" th:value="${acaAct.activityName}">
                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">학술기관</span></p>
                      <input class="text_area" th:name="|academicActivities[${iterStat.count}].academic_institution|" th:value="${acaAct.institutionName}">
                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">컨퍼런스 이름</span></p>
                      <input class="text_area" th:name="|academicActivities[${iterStat.count}].conference_name|" th:value="${acaAct.conferenceName}">
                  </div>
                  <div class="x_frame_1">
                      <p class="div-3"><span class="text-wrapper-4">제출일</span></p>
                      <input class="text_area" th:name="|academicActivities[${iterStat.count}].activity_date|" th:value="${#temporals.format(acaAct.activityDate, 'yyyy-MM-dd')}" type="date">
                  </div>
              </div>

          </div>
          <button class="plusbutton" data-section="academicActivities">
            <img class="image-6" src="/img/image-26.png" />
            <div class="text-wrapper-7">추가</div>
          </button>
        </div>     



<div class="maincontainer" name="workExps">
    <div class="heading">
        <div class="heading-2">경력</div>
    </div>
    <div class="mainframe">
        <div class="subframe" style="display:none;">
            <div class="image-wrapper">
                <img class="image-5" src="/img/image-27.png" alt="프로필 이미지">
            </div>
            
            
            
            <!-- 직급 -->
            <div class="c_frame">
                <p class="div-3"><span class="text-wrapper-4">직급/직책</span></p>
                <input class="text_area" name="workExps[0].job_title" placeholder="과장 4호봉/영업본부장">
            </div>
            
            <!-- 회사명 -->
            <div class="c_frame">
                <p class="div-3"><span class="text-wrapper-4">회사명</span></p>
                <input class="text_area" name="workExps[0].company_name" placeholder="동의제약">
            </div>
            
            <!-- 입사 및 퇴사 년월 -->
            <div class="c_frame_1">
                <div class="background-border-9">
                    <p class="div-3"><span class="text-wrapper-4">입사년월</span></p>
                    <input class="text_area" name="workExps[0].from_date" placeholder="2024" type="month">
                </div>
                
                <div class="background-border-10">
                    <p class="div-3"><span class="text-wrapper-4">퇴사년월</span></p>
                    <input class="text_area" name="workExps[0].to_date" placeholder="2044" type="month">
                </div>
            </div>
            <div class="c_frame_2">
                <p class="div-3"><span class="text-wrapper-4">담당 업무</span></p>
                <textarea class="text_area_1" name="workExps[0].responsibilities" placeholder="내가 무엇을 담당했는지 설명해주세요"></textarea>
            </div>
        </div>
        <div class="subframe" th:each="wExp, iterStat : ${workExp}">
            <input th:name="|workExps[${iterStat.count}].id|" style="display:none;" th:value="${wExp.id}"/>
            <div class="image-wrapper">
                <img class="image-5" src="/img/image-27.png" alt="프로필 이미지">
            </div>
            <!-- 직급 -->
            <div class="c_frame">
                <p class="div-3"><span class="text-wrapper-4">직급/직책</span></p>
                <input class="text_area" th:name="|workExps[${iterStat.count}].job_title|" th:value="${wExp.jobTitle}">
            </div>

            <!-- 회사명 -->
            <div class="c_frame">
                <p class="div-3"><span class="text-wrapper-4">회사명</span></p>
                <input class="text_area" th:name="|workExps[${iterStat.count}].company_name|" th:value="${wExp.companyName}">
            </div>

            <!-- 입사 및 퇴사 년월 -->
            <div class="c_frame_1">
                <div class="background-border-9">
                    <p class="div-3"><span class="text-wrapper-4">입사년월</span></p>
                    <input class="text_area" th:name="|workExps[${iterStat.count}].from_date|" th:value="${#temporals.format(wExp.fromDate, 'yyyy-MM-dd')}" type="date">
                </div>

                <div class="background-border-10">
                    <p class="div-3"><span class="text-wrapper-4">퇴사년월</span></p>
                    <input class="text_area" th:name="|workExps[${iterStat.count}].to_date|" th:value="${#temporals.format(wExp.toDate, 'yyyy-MM-dd')}" type="date">
                </div>
            </div>
            <div class="c_frame_2">
                <p class="div-3"><span class="text-wrapper-4">담당 업무</span></p>
                <input class="text_area_1" th:name="|workExps[${iterStat.count}].responsibilities|" th:value="${wExp.responsibility}"></input>
            </div>
        </div>
    </div>
    <!-- 추가 버튼 -->
        <button class="plusbutton" data-section="workExps">
            <img class="image-6" src="/img/image-26.png" alt="추가 버튼 이미지">
            <div class="text-wrapper-7">추가</div>
        </button>
</div>

      
        <div class="maincontainer" name="skill">
          <div class="heading">
            <div class="heading-2">기술</div>
          </div>
          <div class="mainframe">
              <div class="subframe" style="display:none;">
                <div class="image-wrapper"><img class="image-5" src="/img/image-27.png" /></div>
                <div class="background-border-4">
                  <p class="div-3"><span class="text-wrapper-4">기술명</span></p>
                  <input class="text_area" name="s_name" placeholder="자바">
                </div>
                <div class="label-wrapper">
                  <p class="div-3"><span class="text-wrapper-4">레벨</span></p>
                  <select class="select" name="s_level">
                      <option value="level_1">1</option>
                      <option value="level_2">2</option>
                      <option value="level_3">3</option>
                  </select>
              </div>
              <div class="background-border-5">
                  <p class="div-3"><span class="text-wrapper-4">기술 소개</span></p>
                  <input class="text_area" name="s_introduce" placeholder="내가 무엇을 잘해서 이런 레벨로 정했는지 소개해 주세요">
                </div>
              
            </div>

          </div>
          <!--
            <button class="plusbutton" data-section="skill">
            <img class="image-6" src="/img/image-26.png" />
            <div class="text-wrapper-7">추가</div>
          </button> -->

        </div>


        
      </div>
      <div class="container">
        
        <div class="background-border-2">
          <div class="container_heading">이력서 항목</div>
          <div class="list">
            <div class="item-link">
              <div class="text-wrapper-2">인적사항</div>
              <img class="img" src="/img/image.png" />
            </div>

            <!-- 토글 버튼 수정: class로 변경 -->
            <button class="div-2 toggle-button" data-section="educations">
              <div class="link">
                <div class="text-wrapper-3">학력</div>
                <img class="image" src="/img/image-4.png" />
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
            <button class="div-2 toggle-button" data-section="licenses">
              <div class="link">
                <div class="text-wrapper-3">자격증</div>
                <img class="image" src="/img/image-3.png" />
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
            <button class="div-2 toggle-button" data-section="awards">
              <div class="link">
                <img class="image" src="/img/trophy.png" />
                <div class="text-wrapper-3">수상</div>
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
            <button class="div-2 toggle-button" data-section="eduExps">
              <div class="link">
                <div class="text-wrapper-3">교육이수</div>
                <img class="image" src="/img/image-2.png" />
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>

            <button class="div-2 toggle-button" data-section="academicActivities">
              <div class="link">
                <div class="text-wrapper-3">논문</div>
                <img class="image" src="/img/image-3.png" />
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
            <button class="div-2 toggle-button" data-section="workExps">
              <div class="link-2">
                <div class="text-wrapper-3">경력</div>
                <img class="image" src="/img/image-3.png" />
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
            <button class="div-2 toggle-button" data-section="skill">
              <div class="link-2">
                <img class="image" src="/img/image.png" />
                <div class="text-wrapper-3">기술</div>
              </div>
              <div class="rectangle-wrapper">
                <div class="rectangle"></div>
                <div class="rectangle1"></div>
              </div>
            </button>
            
          </div>
          
        </div>
        <button class="background-border">
          <a class="button" id="preview" href="./portpolio_preview.html">미리보기</a>
        </button>

      </div>
    </div>
  </div>
  <!-- <script src="/js/input.js"></script> -->
   <script src="/js/update.js"></script>
  <script src="/js/input_function.js"></script>
</body>


</html>